//Colors

$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$grey-dark: #777;
$grey-light1:#f7f7f7;
$white: #FFF;
$black: #000;

/////////////////////////////

//Grid
$grid-width:114rem;
$gap-vertical: 8rem;
$gap-horizontal: 6rem;
//////////////////////////////

//Sizes
$font-size: 1.6rem;