.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .9);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include center-hor-ver;
        width: 75%;
        background-color: $white;
        box-shadow: 0 2rem 4rem rgba($black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50% -50%) scale(.25);
        transition: all .4s .2s;

        @include screen(tabPort) {
            display: block;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include screen(tabPort) {
            width: 50%;
            display: flex;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include screen(tabPort) {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
        -webkit-column-rule: 1px solid $grey-light2;
        -moz-column-rule: 1px solid $grey-light2;
        column-rule: 1px solid $grey-light2;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include screen(tabPort) {
            -webkit-column-count: auto;
            -moz-column-count: auto;
            column-count: auto;
            -webkit-column-gap: auto;
            -moz-column-gap: auto;
            column-gap: auto;
            -webkit-column-rule: auto;
            -moz-column-rule: auto;
            column-rule: auto;
        }
    }
    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.open &__content {
        opacity: 1;
        transform: translate(-50% -50%) scale(1);
    }

    &__close {
        color: $grey-dark;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        line-height: 1;
        transition: all .2s;

        @include screen(tabPort) {
            background-color: $white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            top: 1.5rem;
            right: 1.5rem;
            padding-top: .3rem;
        }


        &:hover {
            color: $dark-green;
        }
    }
}