.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,  
        rgba($light-green, 0.8), 
        rgba($dark-green, 0.8)), 
        url(../../assets/img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    @include screen(tabPort) {
        padding: 10rem 0;
    }

}

.feature-box {
    background-color: rgba($white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    transition: transform .3s;

    @include screen(tabPort) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $light-green, $dark-green);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @include screen(tabPort) {
            margin-bottom: 0rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}